*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #221f29;
    overflow: hidden;
    font-family: 'Play', sans-serif;
    color: #fff;
    font-size: 0.9rem;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;
    position: relative;
}

#root {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

code {
    color: red;
}

button:hover {
    cursor: pointer;
}

* {
    --scrollbar-foreground: #ff6266;
    --scrollbar-background: #221f29;
    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
*::-webkit-scrollbar {
    width: 5px; /* Mostly for vertical scrollbars */
    height: 5px; /* Mostly for horizontal scrollbars */
}
*::-webkit-scrollbar-thumb {
    background: var(--scrollbar-foreground);
}
*::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
}

.loader {
    width: 10rem;
    text-align: center;
}

.container {
    display: block;
    width: 100vw;
    padding: 0.5rem;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .greeting {
        height: 100vh;
        max-width: 600px;
        padding: 0 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        .avatar {
            display: flex;
            margin-bottom: 2rem;
            justify-content: end;
            flex-direction: column;
            padding-top: 2rem;
            height: 50vh;
            @media (max-width: 450px) {
                height: 30vh;
            }
            img {
                height: 100%;
                max-height: 300px;
            }
        }
        .typing {
            display: flex;
            width: 100%;
            div {
                font-size: 20px;
                font-weight: 400;
                line-height: 1.68rem;
                color: #ff6266;
                letter-spacing: 0.1em;
                word-spacing: 0.3em;
                text-align: center;
                i {
                    color: #ff9999;
                    font-weight: bold;
                }
            }
        }
        .scroll-down {
            opacity: 0;
            height: 3rem;
            transition: opacity 500ms;
            text-align: center;
        }
        .active {
            opacity: 1;
        }
    }
}

.fixed-detail {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2rem;
    background: #00000045;
    backdrop-filter: blur(2px) brightness(0.7);
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    .fixed-container {
        max-width: 500px;
        h1,
        h2 {
            margin-bottom: 0.5rem;
        }
        .content {
            margin-top: 4rem;
        }
        ul {
            padding-inline-start: 1rem;
            list-style-type: none;
            li {
                margin-bottom: 0.3rem;
            }
        }
        .link {
            padding: 3rem 0;
            a {
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                font-size: 1.2rem;
                font-style: italic;
                font-weight: bold;
                color: #fff;
                transform: translateX(0);
                transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
                &:hover {
                    color: #ff6266;
                    transform: translateX(10px);
                }
                .link-icon {
                    height: 1.2rem;
                    width: 1.2rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }
    .back-button {
        font-size: 1.5rem;
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;
        animation: floating 3s ease-in-out infinite;
        color: #fff;
        background: none;
        border: solid 2px #ff6266;
        border-radius: 2px;
        padding: 0.2rem 0.5rem;
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, -0px);
    }
}
